html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-family: var(--main-font-family, HelveticaNeueCyr);
	font-size: var(--main-font-size, 20px);
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: 30px;
	background-color: var(--color-3, #ffffff);
	color: var(--color-2, #282626);
}

img {
	max-width: 100%;
	height: auto;
}

button,
input {
	font: inherit;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

iframe {
	border: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
}


