.about {
	padding-bottom: 34px;
	background-color: $color-4;
}

.about__wrapper {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 480px 580px;
	grid-template-rows: 330px 29px;
	row-gap: 27px;
}

.about__content {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.about__title {
	margin-bottom: 30px;
}

.about__text {
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	
	&:not(:last-child) {
		margin-bottom: 34px;
	}
}

.about__ill {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	@include bg-full('../img/about/about.png');

	background-image: -webkit-image-set(
		url('../img/about/about.avif') 1x,
		url('../img/about/about.webp') 1x,
		url('../img/about/about.png') 1x,
	);
	background-image: image-set(
		url('../img/about/about.avif') 1x,
		url('../img/about/about.webp') 1x,
		url('../img/about/about.png') 1x,
	);
}

.about__link {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: block;
	width: 152px;
	font-weight: 550;
	font-size: 20px;
	line-height: 26px;
	color: $color-1;
	margin-left: auto;
	position: relative;
	transition: all .3s ease;

	&:hover {
		@extend %outlineFF8A00;
	}

	&::after {
		display: block;
		content: '';
		width: 29px;
		height: 29px;
		@include bg-full('../img/about/arrow.svg');
		background-image: -webkit-image-set(
			url('../img/about/arrow.avif') 1x,
			url('../img/about/arrow.webp') 1x,
			url('../img/about/arrow.png') 1x,
		);
		background-image: image-set(
			url('../img/about/arrow.avif') 1x,
			url('../img/about/arrow.webp') 1x,
			url('../img/about/arrow.png') 1x,
		);
		position: absolute;
		top: 0;
		right: 0;
	}
}


@media (max-width: 1200px) {
	.about {
		padding-bottom: 28px;
	}

	.about__wrapper {
		grid-template-columns: 378px 480px;
		grid-template-rows: 308px 29px;
		row-gap: 13px;
	}

	.about__title {
		margin-bottom: 20px;
	}

	.about__text {
		font-size: 18px;
		line-height: 26px;
		
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	.about__link {
		font-size: 18px;
		line-height: 24px;
		width: 132px;
		padding-top: 2px;
		top: 0;
	}
}

@media (max-width: 1000px) {
	.about {
		padding-bottom: 21px;
	}

	.about__wrapper {
		grid-template-columns: 700px;
		grid-template-rows: 154px 450px 29px;
		row-gap: 10px;
	}

	.about__content {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.about__ill {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.about__link {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
		font-size: 14px;
		line-height: 20px;
		width: 112px;
		padding-top: 4px;
	}

	.about__text {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 20px;
	}
}

@media (max-width: 740px) {
	.about {
		padding-bottom: 11px;
	}

	.about__wrapper {
		margin: 0 auto;
		max-width: 270px;
		grid-template-columns: 270px;
		grid-template-rows: 234px 174px 29px;
		row-gap: 10px;
	}

	.about__title {
		margin-bottom: 10px;
	}

	.about__text {
		margin-bottom: 10px;
	}
}
