.pets__slider-wrapper {
	display: none;
}

.pets__list {
	display: grid;
	grid-template-columns: 280px 180px 80px 180px 380px;
	grid-template-rows:  326px 352px;
	column-gap: 20px;
	row-gap: 44px;
}

.pets__item {
	&_item-1 {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}

	&_item-2 {
		grid-column: 3 / 5;
		grid-row: 1 / 2;
	}

	&_item-3 {
		grid-column: 5 / 6;
		grid-row: 1 / 3;
	}

	&_item-4 {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	&_item-5 {
		grid-column: 2 / 4;
		grid-row: 2 / 3;
	}

	&_item-6 {
		grid-column: 4 / 5;
		grid-row: 2 / 3;
	}
}

.pets__figure {
	display: block;
}

.pet__figcaption {
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;
}

.pets__img {
	display: block;
	margin-bottom: 20px;

	&_1 {
		width: 480px;
		height: 280px;
	}

	&_2 {
		width: 280px;
		height: 280px;
	}

	&_3 {
		width: 380px;
		height: 650px;
	}

	&_4 {
		width: 280px;
		height: 280px;
	}

	&_5 {
		width: 280px;
		height: 280px;
	}

	&_6 {
		width: 180px;
		height: 280px;
	}
}

.pets__slider-navigation {
	display: none;
}

@media (max-width: 1200px) {
	.pets__list {
		grid-template-columns: 180px 180px 180px 280px;
		grid-template-rows:  235px 214px 124px;
		row-gap: 62px;
		column-gap: 20px;
	}

	.pets__item {
		&_item-1 {
			grid-column: 1 / 3;
			grid-row: 1 / 2;
		}
	
		&_item-2 {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
		}
	
		&_item-3 {
			grid-column: 4 / 5;
			grid-row: 1 / 4;
		}
	
		&_item-4 {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
	
		&_item-5 {
			grid-column: 2 / 3;
			grid-row: 2 / 3;
		}
	
		&_item-6 {
			grid-column: 3 / 4;
			grid-row: 2 / 4;
		}
	}

	.pets__img {
		margin-bottom: 10px;
	
		&_1 {
			width: 380px;
			height: 201px;
		}
	
		&_2 {
			width: 180px;
			height: 201px;
		}
	
		&_3 {
			width: 280px;
			height: 478px;
		}
	
		&_4 {
			width: 180px;
			height: 180px;
		}
	
		&_5 {
			width: 180px;
			height: 180px;
		}
	}

	.pet__figcaption {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (max-width: 1000px) {
	.pets__desktop-wrapper {
		display: none;
	}

	.pets__slider-wrapper,
	.pets__slider-list, 
	.pets__slider-navigation {
		display: block;
	}

	.pets__slider-item {
		width: 540px;
		height: 410px;
		margin: 0 auto;
	}

	.pets__slider-item .pets__figure {
		height: 410px;

		img {
			height: 368px;
			margin-bottom: 18px;	
		}
	}

	.pets__img_1{
		width: 540px;
	}

	.pets__img_2{
		width: 459px;
	}

	.pets__img_3{
		width: 280px;
	}

	.pets__img_4{
		width: 394px;
	}

	.pets__img_5{
		width: 295px;
	}

	.pets__img_6{
		width: 237px;
	}


	.pets__slider-wrapper.swiper{
		width: 540px;
	}

	.pets {
		position: relative;
	}

	.pets__slider-navigation {
		margin: 0 auto;
		max-width: 700px;
		height: 54px;
		top: -259px;
		position: relative;
	}

	.pets__slider-prev,
	.pets__slider-next  {
		display: block;
		width: 54px;
		height: 54px;
		border: none;
		background-color: transparent;
		position: absolute;
		z-index: 100;
		transition: all .3s ease;
	}

	.pets__slider-prev {
		left: 0;
		@include bg-full('../img/pets/left.svg');
	}

	.pets__slider-next {
		right: 0;
		@include bg-full('../img/pets/right.svg');
	}
}

@media (max-width: 740px) {
	.pets__title {
		width: 270px;
		margin: 0 auto 20px;
	}

	.pets__slider-wrapper.swiper{
		width: 270px;
	}

	.pets__slider-item {
		width: 270px;
		height: 214px;
	}

	.pets__slider-item .pets__figure {
		height: 214px;

		img {
			height: 184px;
			display: block;
			margin: 0 auto;
			margin-bottom: 10px;	

		}
	}

	.pet__figcaption {
		font-size: 14px;
		line-height: 20px;
	}

	.pets__slider-navigation {
		max-width: 296px;
		height: 26px;
		top: -149px;
	}

	.pets__slider-prev,
	.pets__slider-next  {
		width: 26px;
		height: 26px;
	}

	.pets__img_1 {
		width: 270px;
	}
	.pets__img_2, 
	.pets__img_5{
		width: 80%;
	}

	.pets__img_3 {
		width: 60%;
	}
	.pets__img_4 {
		width: 94%;
	}

	.pets__img_6 {
		width: 64%
	}
}


