.projects__main-container {
	display: grid;
	grid-template-columns: 680px 380px;
	grid-template-rows: 460px 298px;
	justify-content: space-between;
	row-gap: 52px;
	column-gap: 20px;
}

.projects__left-container {
	grid-column: 1 / 1;
	grid-row: 1 / 3;
}

.projects__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.projects__list-item {
	display: block;
	width: 100%;
	min-height: 180px;
	padding: 0 0 0 300px;
	background: {
		position: left top;
		size: 280px 180px;
		repeat: no-repeat;
	};

	transition: outline .3s ease;
	outline: none;
	cursor: pointer;

	&:hover,
	&:active {
		@extend %outlineFF8A00;
	}

	&_animal-house {
		background-image: url('../img/projects/l-1.png');
		background-image: -webkit-image-set(
			url('../img/projects/l-1.avif') 1x,
			url('../img/projects/l-1.webp') 1x,
			url('../img/projects/l-1.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/l-1.avif') 1x,
			url('../img/projects/l-1.webp') 1x,
			url('../img/projects/l-1.png') 1x,
		);
	}

	&_little-fashionistas {
		background-image: url('../img/projects/l-2.png');
			background-image: -webkit-image-set(
			url('../img/projects/l-2.avif') 1x,
			url('../img/projects/l-2.webp') 1x,
			url('../img/projects/l-2.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/l-2.avif') 1x,
			url('../img/projects/l-2.webp') 1x,
			url('../img/projects/l-2.png') 1x,
		);
	}

	&_play-with-me {
		background-image: url('../img/projects/l-3.png');
			background-image: -webkit-image-set(
			url('../img/projects/l-3.avif') 1x,
			url('../img/projects/l-3.webp') 1x,
			url('../img/projects/l-3.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/l-3.avif') 1x,
			url('../img/projects/l-3.webp') 1x,
			url('../img/projects/l-3.png') 1x,
		);
	}

	&_best-photo {
		background-image: url('../img/projects/l-4.png');
			background-image: -webkit-image-set(
			url('../img/projects/l-4.avif') 1x,
			url('../img/projects/l-4.webp') 1x,
			url('../img/projects/l-4.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/l-4.avif') 1x,
			url('../img/projects/l-4.webp') 1x,
			url('../img/projects/l-4.png') 1x,
		);
	}
	
}

.projects__list-link {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.projects__title {
	font-weight: 550;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 15px;
	margin-top: 0;
}

.projects__description {
	display: block;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 20px;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	-ms-line-clamp: 2;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	display: -webkit-box;
	display: box;
	word-wrap: break-word;
	-webkit-box-orient: vertical;
	box-orient: vertical;
}

.projects__link {
	display: block;
	width: 152px;
	min-height: 29px;
	padding-top: 2px;
	font-family: HelveticaNeueCyr;
	font-style: normal;
	font-weight: 550;
	font-size: 20px;
	line-height: 26px;
	color: $color-1;
	background-image: url('../img/projects/arrow.png');
	background-image: -webkit-image-set(
			url('../img/projects/arrow.avif') 1x,
			url('../img/projects/arrow.webp') 1x,
			url('../img/projects/arrow.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/arrow.avif') 1x,
			url('../img/projects/arrow.webp') 1x,
			url('../img/projects/arrow.png') 1x,
		);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 25px 16px;

	&_focus-project {
		margin-left: auto;
	}

	&_see-everything {
		display: none;
	}
}

.projects__right-container-top {
	display: block;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background-image: url('../img/projects/bg-dog-friend.png');
	background-image: -webkit-image-set(
			url('../img/projects/bg-dog-friend.avif') 1x,
			url('../img/projects/bg-dog-friend.webp') 1x,
			url('../img/projects/bg-dog-friend.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/bg-dog-friend.avif') 1x,
			url('../img/projects/bg-dog-friend.webp') 1x,
			url('../img/projects/bg-dog-friend.png') 1x,
		);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 293px 10px 15px 10px; 
	transition: all .3s ease;

	&:hover,
	&:active {
		transform: scale(0.97);
	}
}

.projects__focus-project-title {
	font-weight: 550;
	font-size: 30px;
	line-height: 40px;
	color: $color-3;
	margin: 0;
}

.projects__right-container-bottom {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.projects__more-title {
	font-family: HelveticaNeueCyr;
	font-weight: 550;
	font-size: 20px;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 22px;
}

.projects__more-container {
	width: 100%;
	min-height: 150px;;
}

.projects__more-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
}

.projects__more-list-item {
	width: 80px;
	height: 70px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all .3s ease;

	&:hover,
	&:active {
		transform: translateY(-5px);
	}

	&_m1 {
		background-image: url('../img/projects/more/m1.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m1.avif') 1x,
			url('../img/projects/more/m1.webp') 1x,
			url('../img/projects/more/m1.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m1.avif') 1x,
			url('../img/projects/more/m1.webp') 1x,
			url('../img/projects/more/m1.png') 1x,
		);
	}

	&_m2 {
		background-image: url('../img/projects/more/m2.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m2.avif') 1x,
			url('../img/projects/more/m2.webp') 1x,
			url('../img/projects/more/m2.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m2.avif') 1x,
			url('../img/projects/more/m2.webp') 1x,
			url('../img/projects/more/m2.png') 1x,
		);
	}

	&_m3 {
		background-image: url('../img/projects/more/m3.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m3.avif') 1x,
			url('../img/projects/more/m3.webp') 1x,
			url('../img/projects/more/m3.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m3.avif') 1x,
			url('../img/projects/more/m3.webp') 1x,
			url('../img/projects/more/m3.png') 1x,
		);
	}

	&_m4 {
		background-image: url('../img/projects/more/m4.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m4.avif') 1x,
			url('../img/projects/more/m4.webp') 1x,
			url('../img/projects/more/m4.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m4.avif') 1x,
			url('../img/projects/more/m4.webp') 1x,
			url('../img/projects/more/m4.png') 1x,
		);
	}

	&_m5 {
		background-image: url('../img/projects/more/m5.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m5.avif') 1x,
			url('../img/projects/more/m5.webp') 1x,
			url('../img/projects/more/m5.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m5.avif') 1x,
			url('../img/projects/more/m5.webp') 1x,
			url('../img/projects/more/m5.png') 1x,
		);
	}

	&_m6 {
		background-image: url('../img/projects/more/m6.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m6.avif') 1x,
			url('../img/projects/more/m6.webp') 1x,
			url('../img/projects/more/m6.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m6.avif') 1x,
			url('../img/projects/more/m6.webp') 1x,
			url('../img/projects/more/m6.png') 1x,
		);
	}

	&_m7 {
		background-image: url('../img/projects/more/m7.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m7.avif') 1x,
			url('../img/projects/more/m7.webp') 1x,
			url('../img/projects/more/m7.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m7.avif') 1x,
			url('../img/projects/more/m7.webp') 1x,
			url('../img/projects/more/m7.png') 1x,
		);
	}

	&_m8 {
		background-image: url('../img/projects/more/m8.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m8.avif') 1x,
			url('../img/projects/more/m8.webp') 1x,
			url('../img/projects/more/m8.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m8.avif') 1x,
			url('../img/projects/more/m8.webp') 1x,
			url('../img/projects/more/m8.png') 1x,
		);
	}

	&_m9 {
		background-image: url('../img/projects/more/m9.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m9.avif') 1x,
			url('../img/projects/more/m9.webp') 1x,
			url('../img/projects/more/m9.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m9.avif') 1x,
			url('../img/projects/more/m9.webp') 1x,
			url('../img/projects/more/m9.png') 1x,
		);
	}

	&_m10 {
		background-image: url('../img/projects/more/m10.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m10.avif') 1x,
			url('../img/projects/more/m10.webp') 1x,
			url('../img/projects/more/m10.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m10.avif') 1x,
			url('../img/projects/more/m10.webp') 1x,
			url('../img/projects/more/m10.png') 1x,
		);
	}

	&_m11 {
		background-image: url('../img/projects/more/m11.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m11.avif') 1x,
			url('../img/projects/more/m11.webp') 1x,
			url('../img/projects/more/m11.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m11.avif') 1x,
			url('../img/projects/more/m11.webp') 1x,
			url('../img/projects/more/m11.png') 1x,
		);
	}

	&_m12 {
		background-image: url('../img/projects/more/m12.png');
		background-image: -webkit-image-set(
			url('../img/projects/more/m12.avif') 1x,
			url('../img/projects/more/m12.webp') 1x,
			url('../img/projects/more/m12.png') 1x,
		);
		background-image: image-set(
			url('../img/projects/more/m12.avif') 1x,
			url('../img/projects/more/m12.webp') 1x,
			url('../img/projects/more/m12.png') 1x,
		);
	}
}

.projects__more-link {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.projects__main-container {
		grid-template-columns: 580px 280px;
		grid-template-rows: 334px 244px;
		row-gap: 33px;
	}

	.projects__list-item {
		min-height: 130px;
		padding: 0 0 0 220px;
		background-size: 200px 130px;
	}

	.projects__title {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 7px;
	}
	
	.projects__description {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 11px;
	}
	
	.projects__link {
		width: 135px;
		font-size: 18px;
		line-height: 24px;
		padding-top: 4px;

		&_see-everything {
			display: block;
			width: 145px;
			height: 29px;
			cursor: pointer;
			margin-left: auto;
			transition: all .3s ease;
	
			&:hover {
				outline: 1px solid $color-1;
			}
		}
	}

	.projects__right-container-top {
		padding: 196px 10px 10px;
	}

	.projects__focus-project-title {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 7px;
	}

	.projects__more-title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 6px;
	}

	.projects__more-container {
		min-height: 160px;
	}

	.projects__more-list {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin-bottom: 23px;
	}

	.projects__more-list-item {
		&_m7,
		&_m8,
		&_m9,
		&_m10,
		&_m11,
		&_m12 {
			display: none;
		}
	}
}

@media (max-width: 1000px) {
	.projects__main-container {
		grid-template-columns: 400px 220px;
		grid-template-rows: 275px 187px;
		row-gap: 20px;
	}

	.projects__list {
		gap: 20px;
	}

	.projects__list-item {
		min-height: 104px;
		padding: 0 0 0 170px;
		background-size: 160px 104px;
	}

	.projects__title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 3px;
	}
	
	.projects__description {
		width: 230px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	
	.projects__link {
		width: 115px;
		font-size: 14px;
		line-height: 20px;

		&_see-everything {
			width: 120px;
		}
	}

	.projects__right-container-top {
		padding: 163px 10px 10px;
	}

	.projects__focus-project-title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 0;
	}

	.projects__more-title {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.projects__more-container {
		min-height: 123px;
		margin-bottom: 7px;
	}

	.projects__more-list {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		row-gap: 18px;
		column-gap: 20px;
		margin-bottom: 5px;
	}

	.projects__more-list-item {
		width: 60px;
		height: 52px;
	}
}

@media (max-width: 740px) {
	.projects__main-container {
		grid-template-columns: minmax(270px, 480px)  0;
		grid-template-rows: auto;
		justify-content: space-between;
		row-gap: 30px;
		column-gap: 0;
	}

	.projects__left-container {
		grid-column: 1 / 3;
		grid-row: 1 / 1;
	}

	.projects__right-container-top {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.projects__right-container-bottom {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}

	.projects__list-item {
		width: 100%;
		justify-self: center;
		align-self: center;
	}

	.projects__more-list-item {
		&_m5,
		&_m6 {
			display: none;
		}
	}

	.projects__right-container-top,
	.projects__right-container-bottom {
		width: 270px;
		justify-self: center;
		align-self: center;
	}

	.projects__more-container {
		min-height: 52px;
	}

	.projects__more-list {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, 1fr);
		gap: 10px;
	}
}

@media (max-width: 480px) {
	.projects__list-item {
		width: 270px;
		min-height: 134px;
		padding: 0 0 0 140px;
		background-size: 130px 134px;

		&_animal-house {
			background-image: url('../img/projects/mini/l-1.png');
			background-image: -webkit-image-set(
				url('../img/projects/mini/l-1.avif') 1x,
				url('../img/projects/mini/l-1.webp') 1x,
				url('../img/projects/mini/l-1.png') 1x,
			);
			background-image: image-set(
				url('../img/projects/mini/l-1.avif') 1x,
				url('../img/projects/mini/l-1.webp') 1x,
				url('../img/projects/mini/l-1.png') 1x,
			);
		}

		&_little-fashionistas {
			background-image: url('../img/projects/mini/l-2.png');
			background-image: -webkit-image-set(
				url('../img/projects/mini/l-2.avif') 1x,
				url('../img/projects/mini/l-2.webp') 1x,
				url('../img/projects/mini/l-2.png') 1x,
			);
			background-image: image-set(
				url('../img/projects/mini/l-2.avif') 1x,
				url('../img/projects/mini/l-2.webp') 1x,
				url('../img/projects/mini/l-2.png') 1x,
			);
		}

		&_play-with-me {
			background-image: url('../img/projects/mini/l-3.png');
			background-image: -webkit-image-set(
				url('../img/projects/mini/l-3.avif') 1x,
				url('../img/projects/mini/l-3.webp') 1x,
				url('../img/projects/mini/l-3.png') 1x,
			);
			background-image: image-set(
				url('../img/projects/mini/l-3.avif') 1x,
				url('../img/projects/mini/l-3.webp') 1x,
				url('../img/projects/mini/l-3.png') 1x,
			);
		}

		&_best-photo {
			background-image: url('../img/projects/mini/l-4.png');
			background-image: -webkit-image-set(
				url('../img/projects/mini/l-4.avif') 1x,
				url('../img/projects/mini/l-4.webp') 1x,
				url('../img/projects/mini/l-4.png') 1x,
			);
			background-image: image-set(
				url('../img/projects/mini/l-4.avif') 1x,
				url('../img/projects/mini/l-4.webp') 1x,
				url('../img/projects/mini/l-4.png') 1x,
			);
		}
	}

	.projects__title {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 10px;
	}

	.projects__description {
		width: 130px;
		height: 38px;
		margin-bottom: 13px;
	}

	.projects__left-container {
		width: 270px;
		justify-self: center;
		align-self: center;
	}

	.projects__right-container-top {
		min-height: 320px;
		padding: 250px 10px 14px; 
	}

	.projects__focus-project-title {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 8px;
	}
}

