.ways-to-help {
	background-color: $color-4;
}

.ways-to-help__title {
	display: block;
	width: 770px;
	color: $color-1;
	margin: 0 auto 50px;
}

.ways-to-help__slider-wrapper {
	display: none;
}

.ways-to-help__list {
	list-style-type: none;
	counter-reset: list;
	margin: 0 0 50px;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.ways-to-help__item-title {
	font-style: normal;
	font-weight: 550;
	font-size: 30px;
	line-height: 40px;	
	display: flex;
	align-items: center;
	margin: 0;
	gap: 20px;

	&::before {
		display:  block;
		content: counter(list);
		counter-increment: list;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: $color-3;
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		line-height: 50px;
		text-align: center;
		color: $color-1;
		padding-top: 18px;
	}
}

//.ways-to-help__item {
//	@extend %fullflex;
//}

.ways-to-help__item_finance {
	display: flex;
	align-items: center;
	gap: 120px;
	min-height: 298px;
}

.ways-to-help__text {
	display: block;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;

	span {
		font-weight: 550;
	}

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.ways-to-help__item_finance .ways-to-help__text {
	padding-left: 100px;
	max-width: 477px;
}

.ways-to-help__image-wrapper {
	width: 580px;
}

.ways-to-help__image-wrapper_first {
	display: grid;
	grid-template-columns: 180px 380px;
	grid-template-rows: repeat(2, 139px);
	gap: 20px;
}

.ways-to-help__first-ill {
	@include bg-full ('../img/ways-to-help/1.png');
	background-image: -webkit-image-set(
			url('../img/ways-to-help/1.avif') 1x,
			url('../img/ways-to-help/1.webp') 1x,
			url('../img/ways-to-help/1.png') 1x,
		);
	background-image: image-set(
		url('../img/ways-to-help/1.avif') 1x,
		url('../img/ways-to-help/1.webp') 1x,
		url('../img/ways-to-help/1.png') 1x,
	);
	grid-column: 1 / 2;
	grid-row: 1 / 2; 
}

.ways-to-help__second-ill {
	@include bg-full ('../img/ways-to-help/2.png');
	background-image: -webkit-image-set(
		url('../img/ways-to-help/2.avif') 1x,
		url('../img/ways-to-help/2.webp') 1x,
		url('../img/ways-to-help/2.png') 1x,
	);
	background-image: image-set(
		url('../img/ways-to-help/2.avif') 1x,
		url('../img/ways-to-help/2.webp') 1x,
		url('../img/ways-to-help/2.png') 1x,
);
	grid-column: 1 / 2;
	grid-row: 2 / 3; 
}

.ways-to-help__third-ill {
	@include bg-full ('../img/ways-to-help/3.png');
	background-image: -webkit-image-set(
		url('../img/ways-to-help/3.avif') 1x,
		url('../img/ways-to-help/3.webp') 1x,
		url('../img/ways-to-help/3.png') 1x,
	);
	background-image: image-set(
		url('../img/ways-to-help/3.avif') 1x,
		url('../img/ways-to-help/3.webp') 1x,
		url('../img/ways-to-help/3.png') 1x,
	);
	grid-column: 2 / 3;
	grid-row: 1 / 3; 
}

.ways-to-help__fouth-ill {
	width: 580px;
	height: 349px;
	@include bg-full ('../img/ways-to-help/4.png');
	background-image: -webkit-image-set(
		url('../img/ways-to-help/4.avif') 1x,
		url('../img/ways-to-help/4.webp') 1x,
		url('../img/ways-to-help/4.png') 1x,
	);
	background-image: image-set(
		url('../img/ways-to-help/4.avif') 1x,
		url('../img/ways-to-help/4.webp') 1x,
		url('../img/ways-to-help/4.png') 1x,
	);
}

.ways-to-help__item_volunteer {
	display: block;
}

.ways-to-help__row-wrapper {
	display: flex;
	align-items: center;
	gap: 20px;
}

.ways-to-help__row-wrapper .ways-to-help__content-wrapper {
	max-width: 580px;
}

.ways-to-help__item_volunteer .ways-to-help__item-title {
	margin-bottom: 30px;
}

.ways-to-help__text-wrapper {
	max-width: 580px;
	padding-left: 100px;
}

.ways-to-help__image-wrapper_third {
	width: 580px;
	height: 382px;

	display: grid;
	grid-template-columns: repeat(2, 280px);
	grid-template-rows: repeat(2, 181px);
	gap: 20px;
}

.ways-to-help__fifth-ill {
	@include bg-full ('../img/ways-to-help/5.png');
	background-image: -webkit-image-set(
		url('../img/ways-to-help/5.avif') 1x,
		url('../img/ways-to-help/5.webp') 1x,
		url('../img/ways-to-help/5.png') 1x,
	);
	background-image: image-set(
		url('../img/ways-to-help/5.avif') 1x,
		url('../img/ways-to-help/5.webp') 1x,
		url('../img/ways-to-help/5.png') 1x,
	);
	grid-column: 1 / 2;
	grid-row: 1 / 3; 
}

.ways-to-help__sixth-ill {
	@include bg-full ('../img/ways-to-help/6.png');
	background-image: -webkit-image-set(
		url('../img/ways-to-help/6.avif') 1x,
		url('../img/ways-to-help/6.webp') 1x,
		url('../img/ways-to-help/6.png') 1x,
	);
	background-image: image-set(
		url('../img/ways-to-help/6.avif') 1x,
		url('../img/ways-to-help/6.webp') 1x,
		url('../img/ways-to-help/6.png') 1x,
	);
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.ways-to-help__seventh-ill {
	@include bg-full ('../img/ways-to-help/7.png');
	background-image: -webkit-image-set(
		url('../img/ways-to-help/7.avif') 1x,
		url('../img/ways-to-help/7.webp') 1x,
		url('../img/ways-to-help/7.png') 1x,
	);
	background-image: image-set(
		url('../img/ways-to-help/7.avif') 1x,
		url('../img/ways-to-help/7.webp') 1x,
		url('../img/ways-to-help/7.png') 1x,
	);
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.ways-to-help__item_guardian {
	display: flex;
	align-items: center;
	gap: 20px;
}

.ways-to-help__modal-button {
	margin: 0 auto;
}


@media (max-width: 1200px) {
	.ways-to-help__title {
		margin: 0 auto 40px;
	}

	.ways-to-help__list {
		gap: 30px;
		margin: 0 0 40px;
	}

	.ways-to-help__item-title {
		font-size: 24px;
		line-height: 30px;
	}

	.ways-to-help__item_finance .ways-to-help__content-wrapper {
		display: block;
		width: 380px;
	}

	.ways-to-help__text {
		font-size: 18px;
		line-height: 26px;

		span {
			display: block;
			width: 280px;
			font-weight: 550;
		}
	
		&:not(:last-child) {
			margin-bottom: 29px;
		}
	}


	.ways-to-help__image-wrapper_first {
		max-width: 480px;
		grid-template-columns: 180px 280px;
	}


	.ways-to-help__third-ill {
		background-size: cover;
	}

	.ways-to-help__row-wrapper .ways-to-help__content-wrapper {
		max-width: 460px;
	}

	.ways-to-help__row-wrapper {
		height: 349px;
	}

	.ways-to-help__fouth-ill {
		width: 400px;
		background-size: cover;
	}

	.ways-to-help__item_guardian.ways-to-help__content-wrapper {
		width: 480px;
	}

	.ways-to-help__item_guardian .ways-to-help__content-wrapper .ways-to-help__text{
		display: block;
		width: 380px;
	}

	.ways-to-help__image-wrapper_third {
		width: 380px;
		height: 246px;
	
		display: grid;
		grid-template-columns: repeat(2, 180px);
		grid-template-rows: repeat(2, 117px);
		gap: 12px;
	}

	.ways-to-help__item_finance,
	.ways-to-help__row-wrapper,
	.ways-to-help__item_guardian {
		gap: 20px;
	}
}

@media (max-width: 1000px) {
	.ways-to-help__title {
		margin: 0 auto 30px;
	}

	.ways-to-help__list {
		gap: 50px;
	}

	.ways-to-help__item-title {
	
		&::before {
			width: 60px;
			height: 60px;
			font-size: 50px;
			font-size: 34px;
			line-height: 40px;
			padding-top: 12px;
		}
	}

	.ways-to-help__item-title {
		font-size: 18px;
		line-height: 24px;
	}

	.ways-to-help__item_finance {
		flex-direction: column;
		gap: 30px;
	}

	.ways-to-help__item_finance .ways-to-help__content-wrapper {
		width: 700px;
	}

	.ways-to-help__text {
		font-size: 14px;
		line-height: 20px;
	}

	.ways-to-help__item_finance .ways-to-help__text {
		padding-left: 80px;
		max-width: 700px;
	}

	.ways-to-help__image-wrapper_first {
		max-width: 700px;
		grid-template-columns: 300px 380px;
		grid-template-rows: 162px 209px;
	}

	.ways-to-help__first-ill {
		@include bg-full ('../img/ways-to-help/1@1000px.png');
		background-image: -webkit-image-set(
				url('../img/ways-to-help/1@1000px.avif') 1x,
				url('../img/ways-to-help/1@1000px.webp') 1x,
				url('../img/ways-to-help1@1000px1.png') 1x,
			);
		background-image: image-set(
			url('../img/ways-to-help/1@1000px.avif') 1x,
			url('../img/ways-to-help/1@1000px.webp') 1x,
			url('../img/ways-to-help/1@1000px.png') 1x,
		);
	}
	
	.ways-to-help__second-ill {
		@include bg-full ('../img/ways-to-help/2@1000px.png');
		background-image: -webkit-image-set(
			url('../img/ways-to-help/2@1000px.avif') 1x,
			url('../img/ways-to-help/2@1000px.webp') 1x,
			url('../img/ways-to-help/2@1000px.png') 1x,
		);
		background-image: image-set(
			url('../img/ways-to-help/2@1000px.avif') 1x,
			url('../img/ways-to-help/2@1000px.webp') 1x,
			url('../img/ways-to-help/2@1000px.png') 1x,
		);
	}

	.ways-to-help__item_volunteer .ways-to-help__item-title {
		margin-bottom: 10px;
	}

	.ways-to-help__row-wrapper {
		min-height: 556px;
		flex-direction: column;
		gap: 30px;
	}

	.ways-to-help__fouth-ill {
		width: 700px;
		order: 2;
	}

	.ways-to-help__row-wrapper .ways-to-help__content-wrapper {
		max-width: 700px;
		padding-left: 80px;
	}

	.ways-to-help__fouth-ill {
		@include bg-full ('../img/ways-to-help/4@1000px.png');
		background-image: -webkit-image-set(
			url('../img/ways-to-help/4@1000px.avif') 1x,
			url('../img/ways-to-help/4@1000px.webp') 1x,
			url('../img/ways-to-help/2@1000px.png') 1x,
		);
		background-image: image-set(
			url('../img/ways-to-help/4@1000px.avif') 1x,
			url('../img/ways-to-help/4@1000px.webp') 1x,
			url('../img/ways-to-help/4@1000px.png') 1x,
		);
		background-size: cover;
		height: 385px;
	}

	.ways-to-help__item_guardian {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.ways-to-help__item_guardian .ways-to-help__content-wrapper {
		width: 700px;
	}

	.ways-to-help__text-wrapper {
		max-width: 700px;
		padding-left: 80px;
	}

	.ways-to-help__item_guardian .ways-to-help__content-wrapper .ways-to-help__text {
		width: 620px;

		span {
			width: 620px;
		}
	}

	.ways-to-help__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.ways-to-help__image-wrapper_third {
		width: 700px;
		height: 491px;
		grid-template-columns: 300px 380px;
		grid-template-rows: 230px 241px;
		gap: 20px;
	}

	.ways-to-help__fifth-ill  {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		background-size: cover;
	}
	.ways-to-help__sixth-ill {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		background-size: cover;
	}
	.ways-to-help__seventh-ill	 {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		background-size: cover;
	}

	.ways-to-help__image-wrapper {
		 width: 700px; 
	}
}

@media (max-width: 740px) {
	.ways-to-help__title {
		text-align: center;
		width: 270px;
		margin: 0 auto 10px;
	}

	.ways-to-help__list {
		max-width: 270px;
		margin: 0 auto 30px;
		gap: 30px;
	}

	.ways-to-help__item_finance .ways-to-help__text {
		padding-left: 48px;
	}

	.ways-to-help__item-title {
		gap: 10px;
	
		&::before {
			width: 38px;
			height: 38px;
			font-size: 24px;
			line-height: 30px;
			padding-top: 5px;
		}
	}

	.ways-to-help__image-wrapper_first,
	.ways-to-help__image-wrapper_third {
		display: none;
	}

	.ways-to-help__fouth-ill{
		width: 270px;
		height: 149px;
	}

	.ways-to-help__row-wrapper {
		min-height: 511px;
	}

	.ways-to-help__row-wrapper .ways-to-help__content-wrapper {
		max-width: 270px;
		padding-left: 48px;
	}

	.ways-to-help__item {
		max-width: 270px;
	}

	.ways-to-help__item_finance .ways-to-help__content-wrapper,
	.ways-to-help__item_guardian .ways-to-help__content-wrapper {
		width: 270px;
	}

	.ways-to-help__item_guardian .ways-to-help__content-wrapper .ways-to-help__text {
		width: 222px;

		span {
			width: 222px;
		}
	}

	.ways-to-help__text-wrapper {
		max-width: 270px;
		padding-left: 48px;
	}

	.ways-to-help__item_finance {
		min-height: 315px;
	}

	.ways-to-help__slider-wrapper {
		display: block;
	}

	.swiper-ways-to-help-first {
		width: 295px;
	}
	
	.swiper-ways-to-help-first-slide {
		width: 200px;
		height: 131px;
	}

	.swiper-ways-to-help-first-slide .ways-to-help__first-ill,
	.swiper-ways-to-help-first-slide .ways-to-help__second-ill,
	.swiper-ways-to-help-first-slide .ways-to-help__third-ill {
		background-size: cover;
		height: 131px;
	}

	.swiper-ways-to-help-second {
		width: 295px;
	}
	
	.swiper-ways-to-help-second-slide {
		height: 160px;
	}

	.swiper-ways-to-help-second-slide .ways-to-help__fifth-ill,
	.swiper-ways-to-help-second-slide .ways-to-help__sixth-ill,
	.swiper-ways-to-help-second-slide .ways-to-help__seventh-ill {
		height: 160px;
	}

	.swiper-ways-to-help-second-slide .ways-to-help__fifth-ill {
		background-size: 130px 160px;
	}
}