.about {
	padding-top: 99px;
	padding-bottom: 207px;
}

.about__title {
	margin-left: 4px;
	margin-bottom: 33px;
}

.about__text {
	width: 447px;
}

.about__text:not(:last-child) {
	margin-bottom: 41px;
}