.about {
	background-color: var(--color-4, #F2F0F1);
	padding-top: 90px;
	padding-bottom: 34px;
}

.about__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 27px;
}

.about__content {
	width: 480px;
}

.about__title {
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 60px;
	color: var(--color-2, #282626);
	margin-bottom: 30px;
}

.about__text:not(:last-child) {
	margin-bottom: 40px;
}

.about__media {
	width: 152px;
	height: 29px;
	margin-left: auto;
	font-style: normal;
	font-weight: 550;
	font-size: 20px;
	line-height: 26px;
	color: var(--color-1, #FF8A00);
	background: url(../../img/about/arrow-right.png) no-repeat right center;
	cursor: pointer;
	transition: all 0.3s ease;
}

.about__media:hover {
	transform: scale(0.9);
}

.about__image {
	display: block;
	transition: all 0.3s ease;
}

.about__image:hover {
	transform: scale(1.1);
}

