.communication-methods {
	text-align: center;
}

.communication-methods__item {
	display: inline-block;
	font-weight: 550;
}

.communication-methods__item:not(:last-child) {
	margin-right: 45px;
}

.communication-methods__link {
	display: block;
	padding-left: 38px;
}

.communication-methods__link_type_tel {
	background: url(../../img/communication-methods/call.svg) no-repeat 0 50%;
}
.communication-methods__link_type_email {
	background: url(../../img/communication-methods/email.svg) no-repeat 0 50%;
}