.feedback {
	padding-top: 90px;
	padding-bottom: 140px;
}

.feedback__form {
	margin: 0 auto;
	position: relative;
}

.form__close {
	position: absolute;
	right: 32px;
	top: 32px;
	width: 29px;
	height: 32px;
}

