.help__title {
	color: #ff8a00;
	text-align: center;
	margin-bottom: 134px;
}

.help__subtitle_money {
	margin-bottom: 36px;
}

.help__subtitle_volunteer {
	margin-bottom: 80px;
}

.help__subtitle_guardian {
	margin-bottom: 30px;
}

.help__text_money {
	width: 378px;
	margin-bottom: 131px;
}

.help__text_volonteer {
	width: 570px;
	margin-bottom: 41px;
}

.help__text_volonteer:last-child {
	margin-bottom: 141px;
}

.help__text_guardian {
	width: 466px;
	margin-bottom: 31px;
}

.help__text_guardian:last-child {
	margin-bottom: 179px;
}

.help__text_guardian_weight_500 {
	font-weight: 500;
}