.help {
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: var(--color-4, #F2F0F1);
}

.help__title {
	margin-bottom: 50px;
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	color: var(--color-1, #FF8A00);
}

.help__list {
	list-style-type: none;
	counter-reset: list;
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.help__list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.help__subtitle {
	font-style: normal;
	font-weight: 550;
	font-size: 30px;
	line-height: 40px;	
	display: flex;
	align-items: center;
	gap: 20px;
}

.help__subtitle::before {
	display:  block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--color-3, #fff);
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	color: var(--color-1, #FF8A00);
	content: counter(list);
	counter-increment: list;
	padding-top: 18px;
}

.help__text {
	display: block;
	margin-left: 100px;
	width: 380px;
}

.help__image-container {
	width: 580px;
	display: flex;
	justify-content: space-between;
}

.help__image-container-row {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.help__image-container-row_left {
	width: 180px;
}

.help__image-container-row_right{
	width: 380px;
}

.help__image {
	display: block;
	transition: all 0.3s ease;
}

.help__image:hover {
	transform: scale(1.1);
}

.help__subtitle_volonteer {
	margin-bottom: 50px;
}

.help__row_volonteer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.help__volonteer-image {
	display: block;
	transition: all 0.3s ease;
}

.help__volonteer-image:hover {
	transform: scale(1.1);
}

.help__volonteer-text-container {
	width: 580px;
}

.help__volonteer-text:not(:last-child) {
	margin-bottom: 40px;
}

.help__row_guard {
	min-height: 382px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.help__guard-text-container {
	width: 580px;
	padding-left: 100px;
}

.help__guard-text:not(:last-child) {
	margin-bottom: 20px;
}

.help__guard-text_strong {
	font-weight: 550;
}

.help__guard-img-col {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.help__guard-image {
	display: block;
	transition: all 0.3s ease;
}

.help__guard-image:hover {
	transform: scale(1.1);
}

.help__btn  {
	margin: 0 auto;
}