.ol {
	list-style-type: none;
	counter-reset: list;
	margin: 0;
}
	
.ol__item::before {
	font-family: Comfortaa;
	font-size: 50px;
	color: #ff8a00;
	content: counter(list);
	counter-increment: list;
	position: relative;
	top: 45px;
	left: -40px;
}

.ol__item_money {
	margin-bottom: 131px;
}