.footer {
	background-color: $color-2;
	padding: 90px 0;
	color: $color-3
}

.footer__top-wrapper {
	@extend %fullflex;
	margin-bottom: 87px;
}

.footer__map {
	width: 680px;
	height: 360px;
}

.footer__title {
	font-family: 'Comfortaa';
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	margin: 0 0 8px;
}

.footer__adress-wrapper {
	margin-bottom: 30px;
}

.footer__description {
	font-weight: 300;
	font-size: 20px;
	line-height: 26px;

	&_logo {
		margin-bottom: 22px;
	}
}

.footer__adress {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
}

.footer__phone {
	display: block;
	width: 215px;
	height: 30px;
	padding-left: 38px;
	margin-bottom: 20px;
	position: relative;
	transition: all .3s ease;

	&::before {
		content: '';
		display: block;
		width: 24px;
		height: 24px;
		@include bg-full('../img/footer/call.png');
		position: absolute;
		top: 12.5%;
		left: 0;
	}
}

.footer__email {
	display: block;
	width: 283px;
	height: 30px;
	padding-left: 38px;
	position: relative;
	transition: all .3s ease;

	&::before {
		content: '';
		display: block;
		width: 24px;
		height: 24px;
		@include bg-full('../img/footer/email.png');
		position: absolute;
		top: 12.5%;
		left: 0;
	}
}

.footer__bottom-wrapper {
	@extend %flex;
}

.footer__logo {
	margin-bottom: 8px;
}

.footer__social {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.footer__social-list {
	max-width: 277px;
	min-height: 40px;
	@extend %fullflex;
	gap: 39px;
}

.footer__social-item {
	width: 40px;
	height: 40px;
	transition: all .3s ease;

	&_inst  {
		@include bg-full('../img/footer/social/inst.svg');
	}

	&_inst:hover  {
		@include bg-full('../img/footer/social/inst-hover.svg');
	}

	&_vk {
		@include bg-full('../img/footer/social/vk.svg');
	}

	&_vk:hover {
		@include bg-full('../img/footer/social/vk-hover.svg');
	}

	&_fb {
		@include bg-full('../img/footer/social/fb.svg');
	}

	&_fb:hover {
		@include bg-full('../img/footer/social/fb-hover.svg');
	}

	&_telegram {
		@include bg-full('../img/footer/social/telegram.svg');
	}

	&_telegram:hover {
		@include bg-full('../img/footer/social/telegram-hover.svg');
	}
}

.footer__copywright-description,
.footer__copywright-email {
	display: block;
	font-size: 14px;
	line-height: 16px;
	transition: color .3s ease;
}

.footer__copywright-description {
	margin-bottom: 2px;
}

.footer__copywright-email {
	&:hover {
		color: $color-1;
	}
}

@media (max-width: 1200px) {
	.footer {
		padding: 70px 0;
	}

	.footer__top-wrapper {
		margin-bottom: 50px;
	}

	.footer__map {
		width: 480px;
		height: 265px;
	}

	.footer__title {
		font-size: 34px;
		line-height: 34px;
		margin: 0 0 10px;
	}

	.footer__description {
		font-size: 18px;
		line-height: 24px;
	
		&_logo {
			margin-bottom: 20px;
		}
	}

	.footer__phone {
		width: 194px;
		height: 27px;
		padding-left: 34px;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 24px;
	
		&::before {
			top: 0;
		}
	}
	
	.footer__email {
		width: 255px;
		height: 26px;
		padding-left: 34px;
		font-size: 18px;
		line-height: 24px;
	
		&::before {
			top: 0;
		}
	}

	.footer__logo {
		width: 300px;
		height: 37px;
		margin-bottom: 10px;
	}

	.footer__social-list {
		max-width: 250px;
		gap: 30px;
	}

}

@media (max-width: 1000px) {
	.footer {
		padding: 60px 0;
	}

	.footer__top-wrapper {
		flex-direction: column;
		align-items: start;
		gap: 40px;
		margin-bottom: 39px;
	}

	.footer__contacts {
		order: 1;
	}

	.footer__map {
		order: 2;
		width: 700px;
	}

	.footer__contacts {
		display: grid;
		grid-template-columns: repeat(2, 300px);
		column-gap: 120px;
		row-gap: 10px;
	}

	.footer__title {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		margin: 0;
	}

	.footer__adress-wrapper {
		margin: 0;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.footer__contacts-methods {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.footer__social-list {
		max-width: 220px;
		gap: 20px;
	}
}

@media (max-width: 740px) {
	.footer {
		padding: 30px 0;
	}

	.footer__top-wrapper {
		max-width: 270px;
		margin: 0 auto 30px auto;
	}

	.footer__contacts {
		display: flex;
		flex-direction: column;	
		gap: 0;
	}

	.footer__map {
		width: 270px;
		height: 180px;
	}

	.footer__title {
		font-size: 24px;
		line-height: 30px;
		margin: 0 0 4px;
	}

	.footer__description {
		font-size: 14px;
		line-height: 20px;
	
		&_logo {
			margin-bottom: 14px;
		}
	}

	.footer__adress-wrapper {
		margin-bottom: 20px;
	}

	.footer__adress {
		width: 250px;
	}

	.footer__logo {
		width: 200px;
		height: 25px;
		margin-bottom: 4px;
	}

	.footer__bottom-wrapper {
		flex-direction: column;
		gap: 20px;
	}

	.footer__social {
		gap: 20px;
		height: 83px;
	}

	.footer__social-list {
		max-width: 200px;
		gap: 13px;
	}

	.footer__copywright-wrapper {
		height: 23px;
	}

	.footer__copywright-description,
	.footer__copywright-email {
		font-size: 8px;
		line-height: 12px;
	}

	.footer__copywright-description {
		margin: 0;
	}
}

