.hero {
	padding: 0;
}

.hero__wrapper {
	@extend %flex;
	min-height: 580px;
	@include bg-full ('../img/hero/dog-sara-big.png');
	background-size: 580px 580px;


	border: 1px solid black;
}

.hero__col-left {
	padding: 135px 0 115px 0;
	max-width: 480px;
}

.hero__slogan {
	font-family: Comfortaa;
	font-weight: 300;
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 81px;
}

.hero__slogan-name {
	font-size: 60px;
	color: $color-1;
}

.hero__modal-button {
	display: block;
	width: 180px;
	height: 155px;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: $color-1;
	border:none;
	outline: none;
	padding-top: 111px;
	margin-left: 100px;
	@include bg-full('../img/hero/paw-1.png');
	background-size: 111px 101px;
	background-position: top center;
	background-color: transparent;
	transition: all .3s ease;

	&:hover {
		@extend %outlineFF8A00;
	}
}


.hero__col-right {
	width: 300px;
	padding: 100px 0 70px 0;
}

.hero__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.hero__item {

}

.hero__btn {
	display: block;
	width: 200px;
	height: 80px;
	padding-left: 120px;
	background-color: transparent;
	outline: none;
	border:none;
	transition: all .3s ease;

	background: {
		size: 80px 80px;
		repeat: no-repeat;
		position: left;
	};

	&_sara{
		background-image: url(../img/hero/dog-sara-small.png);
	}

	&_boris{
		background-image: url(../img/hero/cat-boris-small.png);
	}

	&_lui{
		background-image: url(../img/hero/dog-lui-small.png);
	}

	&_peter{
		background-image: url(../img/hero/rabbit-peter-small.png);
	}

	&_canney{
		background-image: url(../img/hero/cat-canney-small.png);
	}

	&:hover {
		@extend %outlineFF8A00;
	}
}

.hero__active-tab {
	display: none;
}

