.navigation {
	background-color: $color-4;
	border-bottom: 10px solid $color-1;

	&::before {
		content: '';
		display: block;
		width: 52px;
		height: 30px;
		@include bg-full ('../img/header/corner.png');
		position: absolute;
		overflow: hidden;
		top: -26px;
		left: 0;
	}
}

.navigation__list {
	width: 398px;
	background-color: inherit;
	@extend %flex;
	flex-direction: column;
	padding: 55px 40px 24px 20px;
	position: relative;
}

.navifation__item {
	min-height: 61px;
	padding: 15px 0  15px 19px;
	transition: all .3s ease;

	&:not(:last-child) {
		border-bottom: 1px solid $color-1;
	}

	&:hover {
		border-bottom: none;
		outline: 1px solid $color-1;
	}
}

.navigation__link {
	font-weight: 550;
	font-size: 20px;
	line-height: 30px;
}

@media (max-width: 1200px) {
	.navigation__list {
		width: 349px;
		padding: 21px 20px 11px 20px;
		position: relative;
	}

	.navifation__item {
		height: 61px;
		padding: 19px 0 19px  19px;
	}

	.navigation__link {
		font-size: 18px;
		line-height: 24px;
	}
}

@media (max-width: 480px) {
	.navigation {
		&::before {
			display: none;
		}
	}

	.navigation__list {
		width: 100%;
		padding: 9px 0 0 0;
	}

	.navifation__item {
		height: 46px;
		padding: 15px 0 15px  10px;
	}

	.navigation__link {
		font-size: 14px;
		line-height: 20px;
	}
}